body {
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: row-reverse; 
  justify-content: space-between;
}

.box {
  width: 100px;
  height: 100px;
  background: coral;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}
