body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.box {
  background: coral;
  margin: 10px;
  height: 40px;
}
