.container {
  display: flex;
  justify-content:start;
  align-items: start;
  color: black;
  gap: 10px;
  font-size: 50px;

  }

.item {
  background-color: rgb(209, 0, 0);
  width: 250px;
  height: 250px;
  padding: 50px;
  text-align: center;
  color: white;
  font-size: large;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}
.container2 {
  display: flex;
  justify-content:center;
  align-items: center;
  color: white;
  gap: 10px;
  font-size: 50px;
 }

 .item2 {
    background-color: rgb(0, 0, 162);
    width: 250px;
  height: 250px;
  padding: 50px;
  text-align: center;
  color: white;
  font-size: large;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
 }

 .container3 {
  display: flex;
  justify-content:end;
  align-items: end;
  color: white;
  gap: 10px;
  font-size: 50px;
 }

 .item3 {
  background-color: rgb(0, 131, 20);
   width: 250px;
  height: 250px;
  padding: 50px;
  text-align: center;
  color: white;
  font-size: large;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
 }

 .container4 {
  display: flex;
  justify-content:start;
  align-items: start;
  color: black;
  gap: 10px;
  font-size: 50px;
flex-direction: column;
  }

.item4 {
  background-color: blue;
  width: 250px;
  height: 250px;
  padding: 50px;
  text-align: center;
  color: white;
  font-size: large;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.container5 {
  display: flex;
  justify-content:center;
  align-items: center;
  color: black;
  gap: 10px;
  font-size: 50px;
flex-direction: column;
  }

.item5 {
  background-color: blue;
  width: 250px;
  height: 250px;
  padding: 50px;
  text-align: center;
  color: white;
  font-size: large;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.container6 {
  display: flex;
  justify-content:end;
  align-items: end;
  color: black;
  gap: 10px;
  font-size: 50px;
flex-direction: column;
  }

.item6 {
  background-color: blue;
  width: 250px;
  height: 250px;
  padding: 50px;
  text-align: center;
  color: white;
  font-size: large;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.container7 {
  display: flex;
  justify-content:center;
  align-items: center;
  color: white;
  gap: 10px;
  font-size: 50px;
}

 .item7 {
   background-color: blue;
  width: 250px;
  height: 250px;
  padding: 50px;
  text-align: center;
  color: white;
  font-size: large;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
 }

 .container8 {
  display: flex;
  justify-content:center;
  align-items: center;
  color: white;
  gap: 10px;
  font-size: 50px;
}

 .item8 {
   background-color: blue;
  width: 250px;
  height: 250px;
  padding: 50px;
  text-align: center;
  color: white;
  font-size: large;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
 }

 .container9 {
  display: flex;
  justify-content:start;
  align-items: start;
  color: white;
  gap: 10px;
  font-size: 50px;
}

 .item9 {
   background-color: yellow;
  width: 250px;
  height: 250px;
  padding: 50px;
  text-align: center;
  color: white;
  font-size: large;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
 }

  .container10 {
  display: flex;
  justify-content:start;
  align-items: start;
  color: white;
  gap: 10px;
  font-size: 50px;
}

 .item10 {
   background-color: yellow;
  width: 250px;
  height: 250px;
  padding: 50px;
  text-align: center;
  color: white;
  font-size: large;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
 }

   .container11 {
  display: flex;
  justify-content:end;
  align-items: end;
  color: white;
  gap: 10px;
  font-size: 50px;
}

 .item11 {
   background-color: red;
  width: 250px;
  height: 250px;
  padding: 50px;
  text-align: center;
  color: white;
  font-size: large;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
 }

    .container12 {
  display: flex;
  justify-content:end;
  align-items: end;
  color: white;
  gap: 10px;
  font-size: 50px;
}

 .item12 {
   background-color: red;
  width: 250px;
  height: 250px;
  padding: 50px;
  text-align: center;
  color: white;
  font-size: large;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
 }

 body {
  background-color: black;
 }